<div class="off-canvas position-right" id="offCanvasRight" data-off-canvas>
    <!-- Quicklinks Content -->
    <div class="title-bar quicklinks">
        <div class="title-bar-left">
            <p><a href="#" data-close="offCanvasRight"><i class="fas fa-times"></i> Quicklinks</a></p>
            {% include "@components/formElements/search-box.twig" %}
            <h4>Find</h4>
            <div class="no-bullet arrow">
                <ul>
                    <li><a href="#">A to Z list</a></li>
                    <li><a href="#">Alumni</a></li>
                    <li><a href="#">Calendars</a></li>
                    <li><a href="#">Directories</a></li>
                </ul>
            </div>
            <h4>Media</h4>
            <div class="no-bullet arrow">
                <ul>
                    <li><a href="#">COVID-19</a></li>
                    <li><a href="#">IMPACT COVID Magazine</a></li>
                    <li><a href="#">MissionRX</a></li>
                    <li><a href="#">Newsroom</a></li>
                    <li><a href="#">ENGAGED</a></li>
                </ul>
            </div>
            <h4>Logins</h4>
            <div class="no-bullet arrow">
                <ul>
                    <li><a href="#">Canvas</a></li>
                    <li><a href="#">Employee Email</a></li>
                    <li><a href="#">MyUTHealth</a></li>
                    <li><a href="#">LiveMail</a></li>
                    <li><a href="#">My Student Center</a></li>
                    <li><a href="#">UT Health Learns</a></li>
                </ul>
            </div>
            <h4>Technology</h4>
            <div class="no-bullet arrow">
                <ul>
                    <li><a href="#">Service Desk</a></li>
                    <li><a href="#">Password Reset</a></li>
                    <li><a href="#">TechZone (Computer Store)</a></li>
                </ul>
            </div>
            <h4>More</h4>
            <div class="no-bullet arrow">
                <ul>
                    <li><a href="#">Library</a></li>
                    <li><a href="#">Bookstore</a></li>
                    <li><a href="#">Course Catalog</a></li>
                    <li><a href="#">Human Resources</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>