<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="card tile cell small-12 medium-6 large-3">
            <img src="https://picsum.photos/400/500">
            <div class="card-section">
                <div>
                    <h3 class="h4">Title Card</h3>
                    <p>This is a test for the tile card component. Text should be moderate and not super long.</p>
                    <p><a class="button">Button</a></p>
                </div>
            </div>
        </div>
    </div>
</div>