<div class="grid-container">
    <div class="grid-x">
        <div class="cell tab-container large-6">
            <ul class="tabs pill color" data-tabs id="example-tabs">
                <li class="tabs-title is-active"><a href="#panel25" aria-selected="true">Tab 1</a></li>
                <li class="tabs-title"><a data-tabs-target="panel26" href="#panel26">Tab 2</a></li>
                <li class="tabs-title"><a data-tabs-target="panel27" href="#panel27">Tab 3</a></li>
                <li class="tabs-title"><a data-tabs-target="panel28" href="#panel28">Tab 4</a></li>
            </ul>

            <div class="tabs-content" data-tabs-content="example-tabs">
                <div class="tabs-panel is-active" id="panel25">
                    <p>Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl. Swab barque interloper chantey doubloon starboard grog black jack gangway rutters.</p>
                </div>
                <div class="tabs-panel" id="panel26">
                    <p>Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors. Bring a spring upon her cable holystone blow the man down spanker Shiver me timbers to go on account lookout wherry doubloon chase. Belay yo-ho-ho keelhaul squiffy black spot yardarm spyglass sheet transom heave to.</p>
                </div>
                <div class="tabs-panel" id="panel27">
                    <p>Trysail Sail ho Corsair red ensign hulk smartly boom jib rum gangway. Case shot Shiver me timbers gangplank crack Jennys tea cup ballast Blimey lee snow crow's nest rutters. Fluke jib scourge of the seven seas boatswain schooner gaff booty Jack Tar transom spirits.</p>
                </div>
                <div class="tabs-panel" id="panel28">
                    <p>Bring a spring upon her cable holystone blow the man down spanker Shiver me timbers to go on account lookout wherry doubloon chase.</p>
                </div>
            </div>
        </div>
    </div>
</div>