<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell medium-12 large-4 flex-container">
            <div class="sidecar flex-child-auto">
                <h4>Have Questions?</h4>
                <p><strong>Name/Title/Headline</strong><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <hr>
                <div class="loose-list">
                    <ul class="no-bullet inline">
                        <li>
                            <a>
                                <i class="fas fa-envelope"></i>
                                <span>longemail@uthscsa.edu</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="fas fa-phone-alt"></i>
                                <span>###-###-####</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>