<div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-5">
        <img src="../../images/story-1.jpg" alt="adorable pup">
    </div>
    <div class="cell small-12 medium-7">
        <h3 class="h5"><a>The Dr. Deborah L. Mueller Endowment in Resident Education and Wellness: A
                timeless gift to honor a lifetime of service.</a></h3>
        <h3 class="h6 sans-serif">May 30, 2025</h3>

        <ul class="tags category">
            <li><a>Impact</a></li>
        </ul>

    </div>
</div>