{{> components-main-nav }}

<section class="hero no-bottom">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell large-9 small-12">
                <h1 class="h5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et </h1>

                <p class="subhead">Lorem ipsum dolor sit amet, consectetur.</p>

                <div class="button-group">
                    <p><a href="#" class="button">Button Copy</a></p>
                    <p><a href="#" class="button ghost">Secondary Button</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="grid-x align-middle align-stretch img-caption">
    <div class="cell small-12 medium-1">
    </div>
    <div class="cell small-12 medium-2 align-middle text-center">
        <p class="caption">Care that changed everything</p>
    </div>
    <div class="cell small-12 medium-9">
        <img src="../../images/large-banner.png" alt="adorable pup">
    </div>
</div>

<div class="grid-container border-bottom">
    <div class="grid-x align-center">
        <div class="cell small-12 medium-9">
            <p class="subhead">Celebrating Caregivers</p>
            <h2 class="h3">Has a caregiver made a difference in your life? </h2>
            <p>Healthcare is deeply personal. In moments of uncertainty, skilled and compassionate caregivers become our
                lifeline. These dedicated professionals don't just treat conditions – they listen to our concerns,
                celebrate our victories and guide us through challenging times.</p>
        </div>
    </div>
</div>

<section class="large-margin border-sides">
    <div class="grid-x content-grid flex-container">
        <div class="cell small-12 medium-6 large-4 flex-child-auto">
            <div class="card beige">
                <i class="fa-solid fa-handshake-angle"></i>
                <p class="subhead">Subhead here</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit. Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit.</p>
            </div>
        </div>
        <div class="cell small-12 medium-6 large-4 flex-child-auto">
            <img src="../../images/patient.png">
        </div>
        <div class="cell small-12 medium-6 large-4 flex-child-auto">
            <img src="../../images/nurse.png">
        </div>
        <div class="cell small-12 medium-6 large-4 flex-child-auto">
            <img src="../../images/hugging.jpg">
        </div>
        <div class="cell small-12 medium-6 large-8 flex-child-auto">
            <div class="card">
                <i class="fa-solid fa-handshake-angle"></i>
                <p class="subhead">Subhead here</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit. Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit.</p>
            </div>
        </div>
    </div>
</section>

{{> components-cta-bleed }}

{{> components-form-bleed }}

<p class="headline shrink margin-top">EXPLORE PATIENT & DOCTOR STORIES </p>

<section class="grid-container large-margin">
    <div class="grid-x grid-margin-x align-center">
        <div class="cell small-12 medium-6 large-6">
            <img class="margin-bottom"
                src="../../images/patient-story-1.jpg" alt="">
            <h3 class="h4">Grateful patient story headline lorem ipsum dolor sit amet.</h3>
            <p>Korem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. </p>
            <div class="arrow">
                <ul>
                    <li><a href="#">Read more</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="cell small-12 medium-6 large-6">
            <img class="margin-bottom"
                src="../../images/patient-story-2.jpg" alt="">
            <h3 class="h4">Grateful patient story headline lorem ipsum dolor sit amet.</h3>
            <p>Korem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. </p>
            <div class="arrow">
                <ul>
                    <li><a href="#">Read more</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="cell small-12 medium-6 large-6">
            <img class="margin-bottom"
                src="../../images/patient-story-3.jpg" alt="">
            <h3 class="h4">Grateful patient story headline lorem ipsum dolor sit amet.</h3>
            <p>Korem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. </p>
            <div class="arrow">
                <ul>
                    <li><a href="#">Read more</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="cell small-12 medium-6 large-6">
            <img class="margin-bottom"
                src="../../images/patient-story-4.jpg" alt="">
            <h3 class="h4">Grateful patient story headline lorem ipsum dolor sit amet.</h3>
            <p>Korem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. </p>
            <div class="arrow">
                <ul>
                    <li><a href="#">Read more</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="cell small-12 medium-9 large-9 text-center margin-top">
            <p><a class="button">Read more stories</a></p>
        </div>
    </div>
</section>

<section class="large-margin margin-bottom-2">
    {{> components-cta-center }}
</section>




{{> components-footer }}