/* ============================================================
    ACCORDIONS
============================================================ */

.accordion {
  margin-left: 0;
  background: transparent;
  list-style-type: none;
}

.accordion[disabled] .accordion-title {
  cursor: not-allowed;
}

.accordion-title {
  //margin-top: rem-calc(16px);
  letter-spacing: 14%;
  position: relative;
  display: block;
  border: 1px solid $orange;
  //border-radius: 6px !important;
  border-bottom: rem-calc(1px);
  font-size: rem-calc(18px);
  line-height: 1;
  color: $dark-gray;
  font-weight: 900;
  text-transform: uppercase;
  transition: background-color .2s ease-out;
  padding: 20px;

  &.heading {
    font-family: $serif-font;
    font-size: rem-calc(32px);
    padding: rem-calc(1rem);

  }
}

.accordion-title:hover,
.accordion-title:focus {
  color: $dark-orange;
  background-color: $off-white;
}

.accordion-title::before {
  position: absolute;
  top: 70%;
  right: rem-calc(12px);
  margin-top: rem-calc(-27px);
  content: "\f107";
  font-family: 'Font Awesome 6 Pro';
  font-size: rem-calc(32px);
  font-weight: 900;
  color: $orange;
}

.is-active>.accordion-title::before {
  content: "\f106";
  font-family: 'Font Awesome 6 Pro';
  font-size: rem-calc(32px);
  font-weight: 900;
  color: $orange;
}

.accordion-content {
  display: none;
  margin-top: -.5rem;
  padding: rem-calc(30px);
  border: rem-calc(1px) solid $orange;
  border-top: none;
  //border-radius: rem-calc(0 0 6px 6px);
  border-bottom: 1;
  background-color: $pure-white;
  color: $off-black;
}

:last-child>.accordion-content:last-child {
  border-bottom: rem-calc(1px) solid $orange;
}

.is-active>.accordion-content {
  display: block;
}

:last-child:not(.is-active)>.accordion-title {
  border-bottom: rem-calc(1px) solid $orange;
}