    /* ============================================================
    BLEEDS
============================================================ */

    .grid-container {
        padding-top: rem-calc(60px);
        padding-bottom: rem-calc(60px);
    }

    .roomy {
        padding-top: rem-calc(90px);
        padding-bottom: rem-calc(90px);

        @media screen and (max-width: $small-screen) {
            padding-top: rem-calc(10px);
            padding-bottom: rem-calc(10px);
        }
    }

    .extra-roomy {
        padding-top: rem-calc(120px);
        padding-bottom: rem-calc(120px);

        @media screen and (max-width: $small-screen) {
            padding-top: rem-calc(15px);
            padding-bottom: rem-calc(15px);
        }
    }

    .chonky {
        padding-top: rem-calc(180px);
        padding-bottom: rem-calc(180px);

        @media screen and (max-width: $small-screen) {
            padding-top: rem-calc(30px);
            padding-bottom: rem-calc(30px);
        }
    }

    .godly {
        padding-top: rem-calc(210px);
        padding-bottom: rem-calc(210px);

        @media screen and (max-width: $small-screen) {
            padding-top: rem-calc(40px);
            padding-bottom: rem-calc(40px);
        }
    }

    .massive {
        padding-top: rem-calc(350px);
        padding-bottom: rem-calc(350px);

        @media screen and (max-width: $small-screen) {
            padding-top: rem-calc(60px);
            padding-bottom: rem-calc(60px);
        }
    }

    .bleed {
        background-color: $off-white;
        color: $off-black;
        padding-left: 90px;
        padding-right: 90px;

        @media screen and (max-width: $small-screen) {
            padding-left: rem-calc(20px);
            padding-right: rem-calc(20px);
        }
    }

    .bleed.plain {
        background-color: unset;
    }

    .bleed.cta {
        background-color: $orange;
        color: $off-white;
    }

    .bleed.cta .subhead {
        color: $off-white;
    }

    .bleed.cta a {
        color: $off-white;
    }

    .bleed.cta a:hover {
        color: $orange-link;
    }

    /* ============================================================
IMG Fill BLEEDS
============================================================ */

    .img-fill {
        display: inline-block;
        overflow: hidden;
        position: relative;
        width: 100%;
        //background-color: rgba(23, 23, 23, 0.77);
        color: $off-white;
        padding-top: 0;

        &.full {
            .cell {
                padding-left: rem-calc(15px);
                padding-right: rem-calc(15px);
            }
        }

        >img,
        >video {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-color: rgba(23, 2, 0, 0.5);
            object-fit: cover;
        }

        >video {
            margin-bottom: rem-calc(-9px);
        }

        .grid-x {
            margin-top: 90px;
            margin-bottom: 90px;
        }

        .bottom {
            object-position: bottom;
        }

        .top {
            object-position: top;
        }

        .center {
            object-position: center;
        }
    }