.blockquote.beige {
    background-color: $beige;
    color: $orange;
}

.blockquote.beige cite {
    color: $orange;
}

.blockquote.tangerine {
    background-color: $tangerine;
    color: $off-white;
}

.blockquote.tangerine cite {
    color: $off-white;
}

.blockquote cite {
    font-weight: 900;
    letter-spacing: 14%;
    text-transform: uppercase;
    font-style: normal;
}

.blockquote.large {
    font-size: 22px;
}