.button {
    background-color: $orange;
    border-radius: rem-calc(4px);
    color: $off-white;
    font-size: rem-calc(18px);
    font-weight: 500;
    box-shadow: $shadow-2;

    &.white {
        background-color: $off-white;
        color: $orange;
    }

    &.ghost {
        border: rem-calc(1px) solid $orange;
        background-color: $off-white;
        color: $orange;
    }
}

.button:hover,
.button:focus {
    background-color: $dark-orange;
    color: $off-white;
}

.button.ghost:hover,
.button.ghost:focus {
    background-color: $orange;
}

.button-group {
    .button {
        font-weight: 500;
        margin-right: rem-calc(24px);
        font-size: rem-calc(18px);
    }
}

.hero .button-group {
    margin-bottom: 0px;
}

.hero .button-group p {
    &:nth-child(1) {
        margin-right: 15px;
    }
}

.hero {
    .button {
        font-weight: 700;
        padding-top: rem-calc(15px);
        padding-bottom: rem-calc(15px);
        margin-bottom: 0px;
    }

    &.button-group {
        &.button {
            font-weight: 700;
            font-size: rem-calc(18px);
        }
    }

    .orange {
        .button {
            background-color: $off-white;
            color: $orange;
        }

        .button:hover {
            background-color: darken($pure-white, 20%);
        }

        .button-group {
            .button {
                background-color: $off-white;
                color: $orange;
            }

            .button:hover {
                background-color: darken($pure-white, 20%);
            }
        }
    }
}



@media screen and (max-width:465px) {
    .button {
        width: 100%;
    }

    .button-group {
        flex-direction: column;

        .button {
            width: 100%;
            margin-bottom: rem-calc(20px);
        }
    }
}