/* ============================================================
    CARDS
============================================================ */

.card {
    padding: 50px;
    background-color: $off-white;
}

.card.white {
    background-color: $pure-white;
    border: 1px solid $light-gray;
}

.card.beige {
    background-color: $beige;
    border: 1px solid $dark-beige;
}

.card i {
    color: $orange;
}

.card p.subhead {
    margin-top: 5px;
    margin-bottom: 0px;
}

.card p:not(.subhead) {
    font-family: $serif-font;
}

.card.article {
    padding: unset;
}

.card.article .card-section {
    padding: unset;
}

.card.article .category {
    font-weight: 900;
    font-family: $sans-serif-font;
    color: $dark-gray;
    letter-spacing: 14%;
    text-transform: uppercase;
    border-top: 1px solid $dark-gray;
    border-bottom: 1px solid $dark-gray;
    padding: 10px 0px 10px 30px;
}

.card.article .card-info {
    padding: 20px 20px 0px 20px;
}

.card.cta {
    padding: 10px;
    border: 1px solid $dark-gray;
}

.card.cta:hover {
    background-color: $beige;
}

.card.cta .subhead {
    font-size: 16px;
}

.cta-center .card {
    margin-bottom: 0;
}

.cta-center .headline {
    text-align: center;
    border: 1px solid $dark-gray;
    padding: 20px;
    margin-bottom: 0;
}

.card {

    &.tile {
        position: relative;
        padding: unset;

        img {
            transform: scale(1);
            transition: .4s ease-in-out;
        }

        .card-section {
            position: absolute;
            bottom: 0;
            background: rgba(23, 23, 23, 0.43);
            color: $off-white;
            width: 100%;
            height: 100%;
            padding: rem-calc(30px);
            margin-bottom: 0;
            opacity: 100%;
            transition: .4s ease-in-out;
            text-align: center;
            display: flex;

            >div {
                width: 100%;
                align-self: flex-end;
                transform: translateY(calc(100% - 4.5rem));
                transition: .7s cubic-bezier(0.19, 1, 0.22, 1);

                p {
                    opacity: 0;
                    transition: 0.3s cubic-bezier(.65, .05, .36, 1);
                }
            }

            &:after {
                display: none;
            }
        }

        &:hover,
        &:focus,
        &:active {
            .card-section {
                background: darken(rgba(23, 23, 23, 0.7), 25%);

                >div {
                    width: 100%;
                    align-self: flex-end;
                    transform: translateY(0);

                    p {
                        opacity: 100;
                    }
                }

            }

            img {
                transform: scale(1.05);
            }
        }
    }
}