/* ============================================================
    COLORS
============================================================ */

.orange {
    background-color: $orange;
    color: $off-white;
}

.tangerine {
    background-color: $tangerine;
}

.gold {
    background-color: $gold;
}