/* ============================================================
    COLORS
============================================================ */

.orange {
    background-color: $orange;
    color: $off-white;
}

.tangerine {
    background-color: $tangerine;
}

.beige {
    background-color: $beige;
}

.dark-orange {
    background-color: $dark-orange;
}

.gold {
    background-color: $gold;
}