/* ============================================================
    DATES
============================================================ */
// Plain text event
.event {
    max-width: rem-calc(450px);
    display: flex;
    align-items: center;
    margin: 0 0 rem-calc(15px) 0;

    .date {
        max-width: rem-calc(60px);
        margin-right: rem-calc(20px);

        .month {
            font-weight: 800;
            font-size: rem-calc(22px);
            text-transform: uppercase;
            line-height: 1;
            text-align: center;
        }

        .day {
            font-weight: 900;
            font-size: rem-calc(40px);
            line-height: 1;
            text-align: center;
        }


    }

    .details {
        padding-left: rem-calc(5px);

        .name {
            font-weight: 600;
        }

        .name a {
            text-decoration: underline;
        }

        .date {
            font-weight: 300;
            max-width: none;
        }
    }
}

.feed-detail {
    display: flex;
}

.feed-detail .category {
    color: $orange;
    font-weight: 700;
}

.feed-detail i {
    color: $orange;
}

.feed-detail .info {
    font-family: $sans-serif-font;
    color: $dark-gray;
    font-weight: 900;
    font-size: 19px;
    letter-spacing: 14%;
    text-transform: uppercase;
}

.feed-detail .info-detail {
    margin-bottom: 1rem;
}

.datebox {
    width: rem-calc(85px);
    margin-right: rem-calc(20px);
    color: $orange;

    .month {
        font-weight: 800;
        font-size: rem-calc(20px);
        text-transform: uppercase;
        line-height: 1;
        text-align: center;
        background: $beige;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $orange;
    }

    .day {
        font-weight: 900;
        font-size: rem-calc(36px);
        line-height: 1;
        text-align: center;
        background: $beige;
        padding-top: 10px;
        padding-bottom: 10px;

        &.multi {
            font-size: rem-calc(22px);
            padding-top: rem-calc(15px);
            padding-bottom: rem-calc(15px);
        }
    }
}