/* ============================================================
    HERO BANNERS
============================================================ */
header.super-hero+.hero {

    &.mission {

        @media screen and (min-width:$small-screen) {
            //height: rem-calc(1440px);

            z-index: -1;
            height: auto;

            &.img-fill {

                img,
                video {
                    position: relative;
                }
            }

            & .sidecar {
                padding: rem-calc(18px);
                position: absolute;
                top: 50%;

                h1 {
                    font-size: 80px;
                    font-family: $sans-serif-font;
                    font-weight: 700;

                }
            }

        }

        @media screen and (max-width:$small-screen) {
            &.img-fill {

                img,
                video {
                    position: relative;
                }
            }

            & .sidecar {
                padding: rem-calc(18px);
                position: absolute;
                top: 50%;

                h1 {
                    font-family: $sans-serif-font;
                    font-weight: 700;

                }

            }

        }
    }

    @media screen and (min-width:$small-screen) {
        .grid-container {
            margin-top: rem-calc(134px);

        }

        .sidecar {
            margin-bottom: 0;

            &.mission {
                margin-left: 0;

                h1 {
                    font-size: 80px;
                    font-family: $sans-serif-font;
                    font-weight: 700;

                }
            }

        }

    }


}

.hero {
    &.img-fill {
        background-color: transparent;
        overflow: initial; //Hidden produces a strange margin between hero area and new nav design. Clip accomplishes the same effect with no extra margins

        &.orange {
            background: rgba(148, 41, 0, 0.75);
            color: $off-white !important;
        }

        &.black {
            background: rgba(23, 23, 23, 0.75);
            color: $off-white !important;
        }

        &.blur {
            background-color: rgba(23, 23, 23, 0.7);
            overflow: clip;

            >img {
                filter: blur(6px) opacity(80%);
            }
        }
    }

    & .sidecar {
        padding: rem-calc(30px);
        background: rgba(26, 36, 41, 0.85);
        color: $off-white;

        &.grey {
            background-color: rgba(26, 36, 41, 0.85);
            color: $off-white !important;
        }

        &.white {
            background: rgba(241, 245, 247, 0.85);
            color: $off-black !important;
        }

        &.orange {
            background: rgba(148, 41, 0, 0.85);
            color: $off-white !important;
        }

        &.transparent {
            background: transparent;
            color: $off-white !important;
        }

        .subheader {
            color: $off-white !important;
        }
    }

    //========== Gradient hero

    @media screen and (min-width:$small-screen) {

        &.gradient {

            &.grey {

                &.left {
                    background: $gray-gradient-left;
                }

                &.right {
                    background: $gray-gradient-right;
                }
            }

            &.orange {

                &.left {
                    background: $orange-gradient-left;
                }

                &.right {
                    background: $orange-gradient-right;
                }
            }

            &.white {

                &.left {
                    background: $white-gradient-left;
                }

                &.right {
                    background: $white-gradient-right;
                }
            }

            .sidecar {
                background: transparent;
            }
        }
    }
}

@media screen and (max-width:$small-screen) {
    .img-fill {

        &:not(.blur) {

            img,
            video {
                position: relative;
            }
        }
    }
}

.hero {
    border-bottom: 1px solid $orange;
}

.hero.no-bottom {
    border-bottom: unset;
}

.hero .grid-container {
    border-top: 1px solid $orange;
}

.hero .subhead {
    font-style: italic;
    text-transform: none;
    font-family: $serif-font;
}

.hero .hero-copy {
    padding: 10px 60px 10px 60px;
}

@media screen and (max-width:$small-screen) {
    .hero-accordion .hero-copy {
        padding: 2rem;
    }
}



.hero-accordion .accordion-item.is-active .accordion-title {
    display: none;

}

.hero-accordion .accordion-title {
    border: unset;
    border-top: 2px solid $pure-white;
    border-bottom: 2px solid $pure-white;
    background-color: $orange;
    color: $pure-white;
    padding: 20px;
    font-weight: 800;

}

.hero-accordion .accordion-title:before {
    position: relative;
    color: $pure-white;
    font-size: 18px;

}

.hero-accordion .accordion-title:nth-child(1):before {
    content: "\f5dc";
}

.hero-accordion .accordion-title:nth-child(2):before {
    content: "\f492";
}

.hero-accordion .accordion-title:nth-child(3):before {
    content: "\f610";
}

.hero-accordion .accordion-title:nth-child(4):before {
    content: "\f496";
}

.hero-accordion .accordion-title:nth-child(5):before {
    content: "\f004";
}

.hero-accordion .accordion-content {
    position: relative;
    overflow: hidden;
    color: $pure-white;
    background-color: rgba(176, 66, 0, 0.82);
}

.hero-accordion .accordion-content img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
    width: 500px;
    max-width: unset;

}