<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell medium-12 large-4 flex-container">
            <div class="card white flex-child-auto">
                <i class="fa-solid fa-handshake-angle"></i>
                <p class="subhead">Subhead here</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit.</p>
            </div>
        </div>
    </div>
</div>