<div class="sidecar">
    <h3 id="filters">Filter List By</h3>
    <form>
        <fieldset>
            <label>Name
                <input type="text">
            </label>
        </fieldset>
        <fieldset>
            <legend>Publication Author</legend>
            <input id="yoda" type="radio" name="master" value="yoda">
            <label for="yoda">Master Yoda</label><br>
            <input id="windu" type="radio" name="master" value="windu">
            <label for="windu">Master Windu</label><br>
        </fieldset>
        <fieldset>
            <label>Topics
                <select>
                    <option value="husker">Husker</option>
                    <option value="starbuck">Starbuck</option>
                    <option value="hotdog">Hot Dog</option>
                    <option value="apollo">Apollo</option>
                </select>
            </label>
        </fieldset>
        <fieldset>
            <label>Topics
                <select>
                    <option value="husker">Husker</option>
                    <option value="starbuck">Starbuck</option>
                    <option value="hotdog">Hot Dog</option>
                    <option value="apollo">Apollo</option>
                </select>
            </label>
        </fieldset>
        <button class="button">Go!</button>
    </form>
</div>