<div class="grid-container">
    <div class="grid-x">
        <div class="cell small-12 medium-6 large-8">
            This is a <span data-tooltip tabindex="1" class="right" title="A right positioned tooltip.">tooltip</span>. The tip will open
            to the right. Prow scuttle parrel provost Sail ho shrouds spirits boom
            mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter
            furl. Swab barque interloper chantey doubloon starboard grog black jack gangway rutters.
        </div>
    </div>
</div>