<div class="grid-x">
	<div class="cell medium-6 large-6">
		<p class="headline-2">Lorem Impsum</p>

		<div class="inner-copy">

			<h2 class="h4">This is an image bleed option.</h2>
			<p>Nilgiri nokcha energy matcha white loose leaf caffeine oolong focus nokcha yerba maté tea garden.
				Sachet
				blend lemongrass nilgiri masala chai hot puierh pearl milk oolong teapot infusion. <p>
		</div>
	</div>
	<div class="cell medium-6 large-6 tangerine">
		<img src="../../images/patient-doctor.png" alt="adorable corgi">
	</div>
</div>