<div class="grid-x">
    <div class="cell medium-6 large-6"> 
        <h1 class="filled"> Filled Heading</h1>
        <h2 class="filled"> Filled Heading</h2>
        <h3 class="filled"> Filled Heading</h3>
        <h4 class="filled"> Filled Heading</h4>
        <h5 class="filled"> Filled Heading</h5>
        <h6 class="filled"> Filled Heading</h6>
    </div>
</div>