{{> components-main-nav }}

<section>
    <div class="grid-container">
        <div class="grid-x grid-margin-x margin-bottom">
            <div class="cell small-12 medium-7 large-8">
                <h1 class="h2">Your support matters</h1>
            </div>
        </div>
        <div class="grid-x grid-margin-x align-center">
            <div class="cell small-12 medium-6 large-4">

                <img src="../../images/story-graduation.jpg" alt="adorable pup">

            </div>
            <div class="cell small-12 medium-6 large-4">

                <p class="margin-top">

                    At UT Health San Antonio, every gift tells a story of hope, healing and progress. Our mission is
                    clear: to make lives better through exceptional education, groundbreaking research and compassionate
                    care. Every day, our community, alumni and friends help turn this mission into reality. </p>

                    <p>Your support drives discoveries that lead to new treatments for cancer, diabetes, Alzheimer’s and
                    more. It opens doors for talented students to become the skilled health professionals our
                    communities need and helps us expand resources and facilities to serve South Texas and beyond. </p>

                    <p>This is an exciting time in our history. As we join with UTSA to create UT San Antonio—soon the
                    third-largest research university in Texas—your partnership is more important than ever. </p>

                    <p>Together, we can ensure South Texans have access to world-class care and prepare the next generation
                    of healthcare leaders to serve with knowledge, integrity and compassion. Thank you for standing with
                    us. </p>

                    <strong>Anamaria Repetti</strong><br>
                    Vice President and Chief Development Officer </p>

                </p>


            </div>

            <div class="cell small-12 medium-6 large-4">

                <div class="sidecar flex-child-auto">
                    <h4>Share this story</h4>
                    <hr>
                    <div class="loose-list">
                        <ul class="no-bullet inline">
                            <li>
                                <a>
                                    <i class="fas fa-envelope"></i>
                                    <span>Send story via Email</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <i class="fas fa-link"></i>
                                    <span>Send a link</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>



{{> components-footer }}