<form>
    <label>Input label
        <input type="text" placeholder="Placeholder text">
    </label>
    <p class="help-text">Example of helper text.</p>

    <label>Required input <span class="required">*</span>
        <input type="text">
    </label>
    <p class="help-text" id="exampleHelpText">Example of required field</p>

    <label class="is-invalid-label">Required input <span class="required">*</span>
        <input type="text" class="is-invalid-input">
    </label>
    <p class="help-text" id="exampleHelpText">Example of required field not validated</p>

    <label>Required password <span class="required">*</span>
        <input type="password">
    </label>
    <p class="help-text">Example of a password field</p>

    <label>
        Text area label
        <textarea></textarea>
    </label>

    <label>Select menu
        <select>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
            <option value="4">Option 4</option>
        </select>
    </label>
</form>