{{> components-main-nav }}

{{> components-hero-default }}

{{> components-secondary-nav }}

<section class="bleed">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-12">
                <p class="subhead">About the Graduate School of Biomedical Sciences</p>
                <h2 class="h3">Training the next generation of biomedical scientists and problem solvers</h2>
            </div>
            <div class="cell small-12 medium-6">
                <p>Located in the heart of the UT Health San Antonio campus, the Graduate School of Biomedical Sciences
                    provides a multidisciplinary learning environment for students to develop the knowledge, skills and
                    creativity necessary to seek solutions to even the most challenging biomedical issues.</p>
            </div>
            <div class="cell small-12 medium-6">
                <p>Because biomedicine rarely fits neatly into one field, our nationally recognized researchers and
                    their trainees synergize the healing professions to conduct research which helps improve scientific
                    knowledge and advance medical technology.</p>
            </div>
        </div>
    </div>
</section>

{{> components-cta-bleed }}

<section class="margin-top large-margin">
    {{> components-event-row }}
</section>

{{> components-headline-2 }}

<div class="grid-container">
    <div class="grid-x grid-margin-x align-center">
        <div class="cell small-12 medium-4 large-3 card article">
            <div class="card-section">
                <img src="../../images/no-photo.jpg">

                <p class="category">Category</p>

                <div class="card-info">
                    <h3 class="h5"><a>Cancer Rehabilitation Clinic Helping Patients Recover</a></h3>
                    <p>This new clinic is designed to treat patients who are living with physical and psycho-social
                        impairments as a result of the side effects of cancer...</p>

                </div>
            </div>
        </div>
        <div class="cell small-12 medium-4 large-3 card article">
            <div class="card-section">
                <img src="../../images/no-photo.jpg">

                <p class="category">Category</p>

                <div class="card-info">
                    <h3 class="h5"><a>Cancer Rehabilitation Clinic Helping Patients Recover</a></h3>
                    <p>This new clinic is designed to treat patients who are living with physical and psycho-social
                        impairments as a result of the side effects of cancer...</p>

                </div>
            </div>
        </div>
        <div class="cell small-12 medium-4 large-3 card article">
            <div class="card-section">
                <img src="../../images/no-photo.jpg">

                <p class="category">Category</p>

                <div class="card-info">
                    <h3 class="h5"><a>Cancer Rehabilitation Clinic Helping Patients Recover</a></h3>
                    <p>This new clinic is designed to treat patients who are living with physical and psycho-social
                        impairments as a result of the side effects of cancer...</p>

                </div>
            </div>
        </div>
        <div class="cell small-12 medium-9 text-center margin-top">
            <p><a class="button">See more news</a></p>
        </div>
    </div>
</div>

{{> components-bleed-img-fill }}

<section class="large-margin margin-bottom-2">
    {{> components-cta-center }}
</section>




{{> components-footer }}